/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ================================================= */

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.days-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgb(76, 76, 76);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.days-container div {
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.days-container div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.days-container div:nth-child(even) {
  background-color: #fff;
  color: #000;
}

.location-input {
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.location-input:focus {
  outline: none;
}

.search-btn {
  background-color: rgb(76, 76, 76);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-btn:hover {
  transform: scale(1.1);
}

/* Switcher */

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.switch-container div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 12px;
}

.switch-container .icon {
  display: flex;
  width: 32px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  display: inline-block;
  cursor: pointer;
}

.switch .slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: all 0.15s ease;
}

.switch input {
  display: none;
}

.switch .slider::before {
  content: '';
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.15s ease;
}

.switch input:checked+.slider {
  background-color: #34c759;
}

.switch input:checked+.slider::before {
  transform: translateX(26px);
}

/* ========================== */

/* Background transition */

.container {
  transition: background-color 2s ease;
}

/* Display error */

.error-container {
  color: red;
  font-size: 1.5rem;
}

/* Loader */

.loader {
  z-index: 2;
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.65s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}