/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ================================================= */

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.days-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgb(76, 76, 76);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.days-container div {
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.days-container div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.days-container div:nth-child(even) {
  background-color: #fff;
  color: #000;
}

.location-input {
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.location-input:focus {
  outline: none;
}

.search-btn {
  background-color: rgb(76, 76, 76);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-btn:hover {
  transform: scale(1.1);
}